/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background: #570101;
    color: white;
    padding: 10px 20px;
  }
  
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .search-bar {
    display: flex;
    gap: 5px;
  }
  
  .search-bar input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .search-bar button {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .nav-bar {
    margin-top: 10px;
    background: #001538;
    width: 100%;
  }
  
  .nav-bar ul {
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 10px 0;
    text-align: left;
  }
  
  .nav-bar ul li {
    margin: 0 15px;
  }
  
  .nav-bar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-bar ul li a:hover {
    text-decoration: underline;
  }
  
  .footer {
    background: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
    color:#ebe8c9
  }
  
  .footer-section a {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    color: #6a11cb;
  }
  